@font-face {
    font-family: 'customfont';
    src: url('font.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'customfont', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 240px;
    height: 320px;
    background-color: #f5f5f5;
    color: #333;
    overflow: hidden; /* Prevent scrolling */
}

.header {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.content {
    padding: 30px 10px 50px 10px; /* Adjust padding to avoid overlap with header/footer */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-container {
    margin-bottom: 8px;
}
.input-container:nth-child(1) {
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="date"]:focus {
    outline: 2px solid red;
}


#result {
    margin-top: 10px;
    padding: 10px;
    min-height: 60px;
    background-color: #eee;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
}

#ad-container {
    position: absolute;
    bottom: 80px; /* Position above the footer */
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.softkey {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.softkey-item {
    flex-grow: 1;
    text-align: center;
}

#right-softkey {
    text-align: right;
}

#left-softkey {
    text-align: left;
}